{{#if model.question}}
  <div class="head">
    <p>  Question number {{model.id}}/10</p>
  </div>
  <p class="time">
    {{time}}
  </p>
  <div class="body">
  {{model.question}}
  <br>
  <input type="button" {{action  "update" model model.optionA}}   value='{{model.optionA}}'>
  <br>
  <input type="button"  {{action  "update" model model.optionB}}   value='{{model.optionB}}'>
  <br>
  </div>
  <div class="footer">
    <input type="button"  {{action  "skip" model}}   value='skip'>
    <input type="button"  {{action  "quit"}}   value='quit'>
  </div>

  <br>
{{else}}
  score:{{score}}
  <input type="button" {{action "playAgain"}} value="play again">
{{/if}}
